<!DOCTYPE html>
<html>

<head>
    <title>Kontakt</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
<style>
body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
</style>


</head>


<body>
<div id = kontakt>
    <a href="/" style="position: absolute; top: 10px; left: 10px;text-decoration: none;color: white;font-size: 20px;">Povratak na početnu stranicu</a>


    <h1>Kontakt</h1>
    <div id="kontakt">
    <p style="font-size: 20px; color: black;">Adresa: Gradiščanska 123, Grad Zagreb</p>
    <p style="font-size: 20px; color: black;" >Telefon: +123 456 789</p>
    <p style="font-size: 20px; color: black;" >E-mail: Algebra@gmail.com</p>
    
</div>

</body>

</html>

